<ul class="list-unstyled">
  <li class="media mb-3">
    <img class="mr-2 rounded" src="<%= gravatar_url(@post.user, { size: 50 }) %>" alt="">
    <div class="media-body">
      <div>
        <%= link_to @post.user.name, user_path(@post.user) %> <span class="text-muted">posted at <%= @post.created_at %></span>
      </div>
      <div>
        <p><%= image_tag @post.image.url if @post.image? %></p>
      </div>
      <div>
        <% if current_user == @post.user %>
          <%= link_to "この投稿を削除する", @post, method: :delete, data: { confirm: "本当に削除してよろしいですか？" }, class: 'btn btn-danger btn-sm' %>
        <% end %>
        <label><%= render 'favorites/favorite_button', post: @post %></label>
      </div>
    </div>
  </li>
</ul>
